* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(222, 64, 64, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(193, 196, 196);
  outline: 1px solid rgb(255, 255, 255);
  border-radius: 24px;
}

.color {
  background: black;
  color: #fff;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  font-size: 24px;
  z-index: 11;
}
body {
  padding-bottom: 100px;
}
.con {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 11;
  background-color: #000000;
}
.footer-content {
  padding: 8px 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px; */
}

a {
  text-decoration: none;
  color: #fff;
  transition: 1s;
  &:hover svg {
    transform: scale(1.5);
    fill: yellow;
    transition: 1s;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px !important;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #0000000f;
}
th {
  font-size: 20px;
  padding-bottom: 15px;
}

tr:hover td {
  background-color: coral;
}
.sklad-title {
  padding-top: 100px;
}
.btn-edit {
  display: flex;
  justify-content: center;
  gap: 10px;
}

td .edit,
.delete {
  font-size: 30px;

  transition: 0.4s;
  transform: scale(0);
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.form-control {
  position: relative;
  border: none;
}

.form-btn {
  position: absolute;
  top: 30%;
  left: 80%;
}
.add-btn {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: 0.4s;
  &:hover {
    background-color: #00000050;
  }
}

tr:hover td .edit {
  transform: scale(1);
}
tr:hover td .delete {
  transform: scale(1);
}
.seerch {
  display: flex;
  align-items: end;
}
.search-title {
  padding-top: 100px;
  margin-left: 0 !important;
}
.seerch-inp {
  width: 200px;
  height: 30px;
  text-align: center;
}
@media only screen and (max-width: 750px) {
  th {
    font-size: 10px;
  }
  td {
    font-size: 10px;
  }
  .search-title {
    display: none;
  }
  #form {
    padding-top: 110px;
    margin: 0 auto;
  }

  h3 {
    padding-left: 5px;
    font-size: 15px;
  }
  .add-btn {
    font-size: 15px;
  }
  tr td i {
    padding: 8px 0;
  }
}
@media only print {
  .color {
    display: none;
  }
}
