.color {
  background: black;
  color: #fff;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  font-size: 24px;
}
.con {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  padding-bottom: 100px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px; */
}

a {
  text-decoration: none;
  color: #fff;
  transition: 1s;
  &:hover svg {
    transform: scale(1.5);
    fill: yellow;
    transition: 1s;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px !important;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
th {
  font-size: 20px;
  padding-bottom: 15px;
}

tr:hover td {
  background-color: coral;
}
.search-title {
  padding-top: 150px;
}
.form-control {
  position: relative;
  border: none;
}

.form-btn {
  position: absolute;
  top: 30%;
  left: 80%;
}
.btn-edit {
  display: flex;
  justify-content: center;
  gap: 10px;
}
td svg {
  width: 30px;
  height: 30px;
  transition: 0.4s;
  transform: scale(0);
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.add-btn {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  border-radius: 6px;
  &:hover {
    background-color: #00000050;
  }
}
/* tr:hover .delete path {
  fill: black;
} */
tr:hover td svg {
  transform: scale(1);
}
.seerch {
  display: flex;
  align-items: end;
}
.search-title {
  padding-top: 100px;
  margin-left: 0 !important;
}
.seerch-inp {
  width: 200px;
  height: 30px;
  text-align: center;
}
@media only screen and (max-width: 750px) {
  th {
    font-size: 10px;
  }
  td {
    font-size: 10px;
  }
}
